@{
    ViewBag.Title = "Administrasi List User Non Domain";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.dashboard = "Administrasi";
    ViewBag.dashboardSmall = "List User Non Domain";
}

<input type="hidden" id="urlPath" name="urlPath" value="@ViewBag.pathParent" />
<div class="row">
    <div class="col-md-12">
        <div id="grid_opr_non_domain">

        </div>
    </div>
</div>
<script type="text/javascript" src="@ViewBag.pathParent/js/ListUserNoDomain.js"></script>